<a class="btn btn-primary" style="margin-right: 10px; background-color: #ffffff"  role="button">
    <a href="https://www.facebook.com/danielfree19/"><fa-icon [icon]="['fab', 'facebook']"></fa-icon></a>
</a>
<a class="btn btn-primary" style="margin-right: 10px; background-color: #ffffff"  role="button">
    <a href = "http://wa.link/relp77" > <fa-icon [icon]="['fab', 'whatsapp']"></fa-icon></a>
</a>
<a class="btn btn-primary" style="margin-right: 10px; background-color: #ffffff"  role="button">
    <a href="tel:+972523516721" ><fa-icon [icon]="['fas', 'phone']"></fa-icon></a>
</a>
<a class="btn btn-primary" style="margin-right: 10px; background-color: #ffffff" role="button">
    <a href="https://discord.gg/zr3Zsfg" > <fa-icon [icon]="['fab', 'discord']"></fa-icon></a>
</a>