
<input (keyup)="onKey($event)" #name>
<input>

<div class="card" style="width: 35rem;">
  <div class="card-body">
    <h5 class="card-title">{{displayName}}</h5><input #DisplayName>
    <p class="card-text">{{email}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{phoneNum}}</li><input #PhoneNum>
    <li class="list-group-item">{{address}}</li><input #Address>
    <li class="list-group-item">{{birthDay}}</li><input #BirthDay>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Edit</a>
    <a href="#" class="card-link">View recipts</a>
  </div>
</div>

<div class="container" style="text-align:center;" *ngIf="flag else Else">
    <input (keyup)="onKey($event)">
    <style>
      td{
        padding:5px;
        margin-left:2px;
      }
    </style>
  <div class="row">
    <div class="col-6">
      מסעדת חמשת השפים
    </div>
    <div class="col-6">
      {{date.getDate()+"/"+(date.getMonth()+1)+"/"+date.getFullYear()}}
    </div>
    <div class="col-6">
      כתובת: יוחנן הסנדלר 10 חיפה
    </div>
    <div class="col-6">

    </div>
    <!--TODO: Routing to the recipt -->

    <div class="col-6">
      טלפון: 04-9910840
    </div>

    <div class="col-6">

    </div>

    <div class="col-12">
      <h1>קבלה</h1><!--recipt id in prog-->
    </div>

    <div class="col-6">
      {{"לכבוד, "+displayName}}
    </div>
    <div class="col-12">
      <table style="display:inline-block;">

        <!--  <tr *ngFor="let item of cart.cart">
          <td>  {{item.nameGet() }}</td>
          <td>{{"מחיר ליחידה: "+ item.priceGet()}}</td>

          <td>{{"כמות: " +  item.getAmount()}}</td>
        </tr>-->
      </table>
    </div>

    <div class="col-4">

    </div>

    <div class="col-4">
      <h4>
        {{"מחיר כולל: "}}
      </h4>
    </div>

    <div class="col-4">

    </div>
  </div>
</div>
<ng-template #Else>
  <div class="row">
    <div class="col-4" *ngFor="let ID of reciptsIDs|async">
      {{ID.key}}<!---->
      <button class="btn btn-primary" routerLink="/recipt/{{ID.key}}">show</button>
    </div>
  </div>
</ng-template>
